<!DOCTYPE html>
<html lang="ru" ng-app="vkDemo">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ВФрилансе</title>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
</head>

<body>

<div class="topnav" ng-controller="topBarController">
    <a ng-if="profile" href="#">Список задач</a>
    <a ng-if="profile.type==1" href="#!/create">Создать заказ</a>
    <a ng-if="profile.login" class="float-right" href="#!/logout">Выйти</a>
    <span ng-if="profile.login" class="float-right">Вы вошли как {{ profile.login }} ({{ types[profile.type] }})</span>
    <span ng-if="profile" class="float-right">Ваш баланс: {{ profile.balance }}</span>
</div>

<div class="content mt-5 offset-4 col-md-5" ng-view></div>

<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>
<script src="lib/angular-cookies/angular-cookies.min.js"></script>
<script src="lib/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>

<script src="app.js"></script>
<script src="login/login.js"></script>
<script src="register/register.js"></script>
<script src="tickets/list.js"></script>
<script src="tickets/create.js"></script>

</body>
</html>
